@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,900&display=swap');
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    /* list-style: none; */
    text-decoration: none;
    border: none;
    outline: none;
}

.logo img {
    margin-right: 1rem;
}

.navbar {
    position: relative;
    width: 90vw;
    margin: 0 auto;
     height: 100px; padding: 19px 37px;
     /* background-color: rgba(0, 0, 0, 0.30);  */
      display:flex; 
     align-items: center; 
     justify-content: space-between;
}
.fa-bars, .fa-times {
    color: #F3628E;
}
.navbar-list-container {
display: flex;
/* justify-content: space-between; */
align-items: center;
gap: 3rem;
}
.active {
    color: #F3628E;
    text-decoration: underline;
}
.navbar-list-container .navbar-list {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}
.navbar-list-container .navbar-list li {
    list-style: none;
}
.navbar-list-container .navbar-list li a:hover{
    color: #F3628E;
}
.navbar-list-container .nav-search .fa-search{
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgba(217, 217, 217, 0.48); 
    height: 100%;
    border-radius: 10px 0 0 10px;
    color: #fff;
  }
  .navbar-list-container .nav-search input{
    background-color: rgba(217, 217, 217, 0.48); 
   padding-left: 5px;
   width: 100%;
   height: 100%; border-radius:0 10px 10px 0;
}
.navbar-list-container .nav-search input::placeholder{
  color: #fff;
  font-size: 1rem;
}
.navbar-list .navbar-list-li ul {
    display: flex;
   gap: 1.2rem;
   align-items: center;
}
.navbar-list-container .nav-search {
    width: 170px; height: 38px; padding: 10px 84x 9px 16px;
     background-color: rgba(217, 217, 217, 0.48); 
    border-radius: 10px; display: inline-flex; flex-direction: row; 
    align-items: center; justify-content: flex-start;
}

.navbar-list-container .nav-btns {
    display: flex;
    gap: .4rem;
}
.navbar-list-container .nav-btns .donate-btn {
    width: 115.10px;
     height: 36.10px;  padding: 13px 17px;
     background-color: rgba(243, 98, 142, 1);
     border-radius:5px;
     display: flex;  align-items: center; justify-content: center;
}
.navbar-list-container .nav-btns .donate-btn a {
    color: aliceblue;
    font-size: 1rem;
}

.navbar-list-container .nav-btns .contact-btn {
    background-color: transparent;
    width: 115.10px; 
    height: 36.10px; padding: 13px 17px;
    border-radius: 5px; 
    border-style: solid; 
    border-width: 1px;
     border-style: solid; 
     border-color: rgba(243, 98, 142, 1);
    display: flex;  align-items: center; justify-content: center;
}
.navbar-list-container .nav-btns .contact-btn a {
    font-size: 1rem;
}
.toggle {
    display: none;
}
.about {
    padding-bottom: 3rem;
}
.about-img {
    background: url(../images/Rectangle-6.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img h1 {
    color: #fff;
    font-size: 3rem;
}
.programmes {
    /* display: flex;
    justify-content: center;align-items: center; */
    margin: 3.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}
.programmes .programmes-details {
    width: 30rem;
}
.programmes .programmes-details img {
    width: 100%;
}
.programmes .programmes-details .programmes-details-info {
    margin-top: 1rem;
}
.programmes .programmes-details .programmes-details-info p {
    font-size: .9rem;
    padding-top: 0.4rem;
}
.programmes .programmes-details .programmes-details-info .btn, 
.girls-education-programmes .btn {
    background-color: #F3628E;
    border: 1px solid #F3628E;
    padding: .5rem 1.2rem;
    border-radius: 5px;
    margin-top: 5px;
}
.programmes .programmes-details .programmes-details-info .btn a,
.girls-education-programmes .btn a{
   color: #fff;
}





.contact-container {
    width: 80vw;
    margin: 3rem auto;
 }
 .contact-img {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: url(../images/contact-frame.jpg);
    height: 18vw;
    min-height: 10rem;
    width: 70vw;
 }
 .contact-img .contact-img-text h1 {
text-align: center;
color: #fff;
padding-bottom: 2rem;
 }
 .contact-img .contact-img-text p {
text-align: center;
color: #fff;
 }
 .contact-img .contact-img-btn .btn {
background-color: transparent;
border: 1px solid #fff;
padding: .8rem 2rem;
border-radius: 5px;
 }
 .contact-img .contact-img-btn .btn a {
color: #fff;
 }

 .contact-numbers-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    row-gap: 2rem ;
    width: 80vw;
 }
 .social-icons {
    display: flex;gap: 1rem;
 }
 .footer-1 {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    margin-top: 2rem;
 }
 .footer-2 {
    margin: 4rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
 }
 .footer-2 p {
   text-align: center;
   padding-bottom: 1rem;
   font-size: 15px;
 }
.girls-education-programmes {
    width: 70vw;
    margin: 0 auto;
}
.girls-education-programmes h1 {
   margin-bottom: 1.5rem;
}
.girls-education-programmes p ul  {
   width: 60vw;
}
 @media (max-width:1000px) {
    .logo img {
        font-size: 2.3;
    }
    .navbar {
        width: 75vw;
    }
    .logo img {
        width: 2.8rem;
    }
  
.navbar-list {
     display:flex;
     flex-direction: column;
        position: absolute;
        top: 100%;
        background-color: #F3628E;
        left: -100%;top: 0;
        height: 100vh;
        width: 30vw;min-width: 15rem;
        align-items: center;justify-content: center;
        transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        z-index: 99;
    }
    .navbar-list-show {
        left: -17%;
    }
    .navbar-list-container .navbar-list .navbar-list-li ul {
        flex-direction: column;
        gap: 2.3rem;
    }
    .navbar-list-container .navbar-list .navbar-list-li ul li a {
       color: aliceblue;
       font-size: 1.2rem;
    }
    .toggle {
        display: block;
    }
    .navbar-list-container .nav-btns .donate-btn  {
        width: 100.10px;
         height: 34.10px;  padding: 11px 14px;
    }
    .navbar-list-container .nav-btns .contact-btn {
        width: 105.10px; 
        height: 34.10px; padding: 11px 14px;
    }
    .about-img h1 {
        font-size: 2.7rem;
    }
    .programmes .programmes-details {
        width: 27rem;
    }
}

@media (max-width:768px) {
    .logo img {
        width: 2.5rem;
    }
    .navbar-list-container .nav-btns .donate-btn  {
        width: 95.10px;
         height: 30.10px;  padding: 9px 11px;
    }
    .navbar-list-container .nav-btns .contact-btn {
        width: 100.10px;
         height: 32.10px;  padding: 9px 12px;
    }
    .navbar-list-container .nav-btns .contact-btn a,
    .navbar-list-container .nav-btns .donate-btn a{
        font-size: .8rem;
    }
    .about-img h1 {
        font-size: 2.5rem;
    }
/* .contact-numbers-container p {
    font-size: 13px;
} */
.contact-img .contact-img-btn .btn {
    padding: .5rem 1.3rem;
    border-radius: 5px;
     }
.footer-2 p {
        padding-bottom: 1rem;
        font-size: 13px;
      }
 .footer-1 .logo p {
        font-size: 13px;
      }
      .programmes .programmes-details {
        width: 23rem;
    }
}
@media (max-width:600px) {
    .navbar {
     width: 80vw;
    }
     .logo img {
         width: 2.4rem;
     }
     .navbar-list-container .nav-btns .donate-btn, 
     .navbar-list-container .nav-btns .contact-btn  {
         width: 80.10px;
          height: 24.10px;  padding: 7px 9px;
     }
     .navbar-list-container .nav-btns .contact-btn a,
     .navbar-list-container .nav-btns .donate-btn a{
         font-size: .8rem;
     }
     .about-img h1 {
         font-size: 2.0rem;
     }
    
 }
 @media (max-width:400px) {
     .navbar {
         width: 85vw;
         /* background-color: #F3628E; */
        }
     .logo img {
         width: 2.2rem;
     }
     .navbar-list-container .nav-btns .donate-btn, 
     .navbar-list-container .nav-btns .contact-btn  {
         width: 73.10px;
          height: 21.10px;  padding: 6px 8px;
          /* margin-right: 2%; */
     }
     .navbar-list-container .nav-btns .contact-btn a,
     .navbar-list-container .nav-btns .donate-btn a{
         font-size: .7rem;
     }
     .about-img h1 {
         font-size: 1.5rem;
     }
     .programmes .programmes-details {
        width: 18rem;
    }
     
 }
 @media (max-width:300px) {
     .logo img {
         width: 2.0rem;
     }
     .navbar-list-container .nav-btns .donate-btn, 
     .navbar-list-container .nav-btns .contact-btn  {
         width: 68.10px;
          height: 19.10px;  padding: 6px 8px;
     }
     .navbar-list-container .nav-btns .contact-btn a,
     .navbar-list-container .nav-btns .donate-btn a{
         font-size: .7rem;
     }
     .programmes .programmes-details {
        width: 15rem;
    }
 }